<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robocake">

  <xacro:include filename="$(find robocake_description)/urdf/common.xacro"/>

  <xacro:include filename="$(find robocake_description)/urdf/base.urdf.xacro"/>
  <xacro:include
    filename="$(find robocake_description)/urdf/wheels.urdf.xacro"/>
  <xacro:include
    filename="$(find robocake_description)/urdf/casters.urdf.xacro"/>
  <xacro:include
    filename="$(find robocake_description)/urdf/ultrasonic.urdf.xacro"/>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>
