<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robocake">

  <xacro:include filename="$(find robocake_description)/urdf/common.xacro"/>

  <xacro:include filename="$(find robocake_description)/urdf/base.urdf.xacro"/>
  <xacro:include
    filename="$(find robocake_description)/urdf/wheels.urdf.xacro"/>

</robot>
