<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robocake">
  <xacro:macro name="base">
    <link name="base_link">
      <xacro:mesh_visual name="base"/>
      <xacro:mesh_collision name="base"/>
      <xacro:mesh_inertia mass="0.5" scaling="10" volume="0.213995"
                          x="0.006792" y="0.000060" z="0.016779"
                          ixx="0.057859" ixy="0.000003" ixz="0.000809"
                                         iyy="0.061351" iyz="0.000007"
                                                        izz="0.086716"/>
    </link>
  </xacro:macro>
</robot>
