<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mesh_geometry" params="name use_collision_mesh:=true">
    <xacro:property name="visual_mesh" value="visual/${name}.dae"/>

    <!--
        If use_collision_mesh is true (defaut), use a separate simplified mesh
        for collision detection from /collision/ subdirectory. Otherwise, use
        the same mesh as the one displayed visually.
    -->
    <xacro:if value="${use_collision_mesh}">
      <xacro:property name="collision_mesh" value="collision/${name}.dae"/>
    </xacro:if>
    <xacro:unless value="${use_collision_mesh}">
      <xacro:property name="collision_mesh" value="${visual_mesh}"/>
    </xacro:unless>

    <visual>
      <geometry>
        <mesh filename="package://robocake_description/meshes/${visual_mesh}"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh
          filename="package://robocake_description/meshes/${collision_mesh}"/>
      </geometry>
    </collision>
  </xacro:macro>

  <!--
      Generates inertial tag for a mesh link based on meshlab output.
        scaling - temporary scaling applied in meshlab to increase precision.
        x, y, z - center of mass.
        ixx..izz - above-diagonal elements of the inertia tensor.
  -->
  <xacro:macro name="mesh_inertia"
               params="mass scaling volume
                       x y z ixx ixy ixz iyy iyz izz">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="${x / scaling} ${y / scaling} ${z / scaling}"/>
      <xacro:property name="inertia_scaling"
                      value="${mass / volume / scaling**2}"/>
      <inertia
        ixx="${ixx * inertia_scaling}" ixy="${ixy * inertia_scaling}"
        ixz="${ixz * inertia_scaling}" iyy="${iyy * inertia_scaling}"
        iyz="${iyz * inertia_scaling}" izz="${izz * inertia_scaling}"
      />
    </inertial>
  </xacro:macro>

  <!--
      Creates a dummy link with no geometry, low mass and low inertia. Used for
      emulating joints with multiple rotation axes. Gazebo requires mass and
      inertial tensor to be non-zero, otherwise the link is not created in the
      simulation at all or behaves incorrectly.
  -->
  <xacro:macro name="dummy_link" params="name">
    <link name="${name}">
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="1e-12" ixy="0"     ixz="0"
                             iyy="1e-12" iyz="0"
                                         izz="1e-12"/>
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="gazebo_sensor"
               params="name angle:=0 min_range max_range samples:=1 type">
    <gazebo reference="${name}">
      <sensor type="ray" name="${name}_sensor">
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <min_angle>${-angle / 2}</min_angle>
              <max_angle>${angle / 2}</max_angle>
            </horizontal>
            <vertical>
              <samples>${samples}</samples>
              <min_angle>${-angle / 2}</min_angle>
              <max_angle>${angle / 2}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
          </range>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
          <topicName>${name}</topicName>
          <frameName>${name}</frameName>
          <fov>${angle}</fov>
          <radiation>${type}</radiation>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
