<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mesh_geometry" params="name use_collision_mesh:=true">
    <xacro:property name="visual_mesh" value="visual/${name}.dae"/>

    <!--
        If use_collision_mesh is true (defaut), use a separate simplified mesh
        for collision detection from /collision/ subdirectory. Otherwise, use
        the same mesh as the one displayed visually.
    -->
    <xacro:if value="${use_collision_mesh}">
      <xacro:property name="collision_mesh" value="collision/${name}.dae"/>
    </xacro:if>
    <xacro:unless value="${use_collision_mesh}">
      <xacro:property name="collision_mesh" value="${visual_mesh}"/>
    </xacro:unless>

    <visual>
      <geometry>
        <mesh filename="package://robocake_description/meshes/${visual_mesh}"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh
          filename="package://robocake_description/meshes/${collision_mesh}"/>
      </geometry>
    </collision>
  </xacro:macro>

  <!--
      Generates inertial tag for a mesh link based on meshlab output.
        scaling - temporary scaling applied in meshlab to increase precision.
        x, y, z - center of mass.
        ixx..izz - above-diagonal elements of the inertia tensor.
  -->
  <xacro:macro name="mesh_inertia"
               params="mass scaling volume
                       x y z ixx ixy ixz iyy iyz izz">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="${x / scaling} ${y / scaling} ${z / scaling}"/>
      <xacro:property name="inertia_scaling"
                      value="${mass / volume / scaling**2}"/>
      <inertia
        ixx="${ixx * inertia_scaling}" ixy="${ixy * inertia_scaling}"
        ixz="${ixz * inertia_scaling}" iyy="${iyy * inertia_scaling}"
        iyz="${iyz * inertia_scaling}" izz="${izz * inertia_scaling}"
      />
    </inertial>
  </xacro:macro>
</robot>
