<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robocake">

  <!--
      HC-SR04 ultrasonic sensor.
      See https://cdn.sparkfun.com/datasheets/Sensors/Proximity/HCSR04.pdf
  -->
  <link name="hcsr04">
    <xacro:mesh_geometry name="hcsr04"/>
    <xacro:mesh_inertia mass="0.02" scaling="10" volume="0.005512"
                        x="0.002263" y="-0.000840" z="0.013641"
                        ixx="0.000112" ixy="0"        ixz="0"
                                       iyy="0.000017" iyz="0"
                                                      izz="0.000111"/>
  </link>

  <joint name="hcsr04_to_base" type="fixed">
    <parent link="base"/>
    <origin xyz="0.072431 0.000139 0.001164"/>
    <child link="hcsr04"/>
  </joint>

  <gazebo reference="hcsr04">
    <!--
        Gazebo doesn't support sonars, so this sensor is implemented as a laser
        with multiple samples. 3 samples (left/center/right for horizontal,
        bottom/center/top for vertical) seem to work well enough for a small
        angle.
    -->
    <sensor type="ray" name="hcsr04_sensor">
      <visualize>true</visualize>
      <ray>
        <scan>
          <!--
              Angle seems to depend on frequency. In practice it is less than 15
              degrees specified in the datasheet.
          -->
          <xacro:property name="angle" value="${2.5 / 180 * pi}"/>
          <horizontal>
            <samples>3</samples>
            <min_angle>${-angle}</min_angle>
            <max_angle>${angle}</max_angle>
          </horizontal>
          <vertical>
            <samples>3</samples>
            <min_angle>${-angle}</min_angle>
            <max_angle>${angle}</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>4</max>
        </range>
      </ray>
      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
        <frameName>hcsr04</frameName>
        <fov>${2 * angle}</fov>
        <radiation>ultrasound</radiation>
      </plugin>
    </sensor>
  </gazebo>

</robot>
