<?xml version="1.0"?>
<launch>
  <include file="$(find robocake_gazebo)/launch/gazebo.launch"/>
  <include file="$(find robocake_gazebo)/launch/spawn.launch">
    <arg name="model" value="orange"/>
  </include>
  <include file="$(find robocake_gazebo)/launch/spawn.launch">
    <arg name="model" value="green"/>
    <arg name="x" value="0.5"/>
  </include>
</launch>
