<?xml version="1.0"?>
<launch>
  <include file="$(find robocake_description)/launch/upload.launch"/>
  <include file="$(find robocake_controllers)/launch/diffdrive.launch"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 1 -urdf -model robocake -param robot_description"/>
</launch>
