<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="robocake"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <group ns="$(arg robot_name)">
    <include file="$(find robocake_description)/launch/upload.launch"/>
    <include file="$(find robocake_controllers)/launch/diffdrive.launch"/>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-x $(arg x) -y $(arg y) -urdf -model $(arg robot_name)
                -param robot_description"/>
    <node name="control" pkg="robocake_algorithm" type="random">
      <param name="threshold" value="0.5"/>
    </node>
  </group>
</launch>
