<?xml version="1.0"?>
<launch>
  <arg name="model"/>
  <arg name="algorithm" default="false"/>
  <arg name="robot_name" default="$(anon robocake)"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="theta" default="0"/>
  <group ns="$(arg robot_name)">
    <include file="$(find robocake_description)/launch/upload.launch">
      <arg name="model" value="$(arg model)"/>
    </include>
    <include file="$(find robocake_controllers)/launch/diffdrive.launch"/>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-x $(arg x) -y $(arg y) -z 0.1 -Y $(arg theta) -urdf
                -model $(arg robot_name) -param robot_description -b"/>
    <node name="control" pkg="robocake_algorithm" type="random"
          if="$(eval algorithm and model == 'green')">
      <param name="threshold" value="0.5"/>
    </node>
    <node name="control" pkg="robocake_algorithm" type="follow"
          if="$(eval algorithm and model == 'orange')">
      <param name="threshold" value="0.2"/>
    </node>
  </group>
</launch>
